:root {
    /*color palate from: https://www.materialpalette.com/indigo/pink*/
    --dark-primary-color: #303F9F;
    --primary-color: #3F51B5;
    --light-primary-color: #C5CAE9;
    --text-icon-color:#FFFFFF;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --divider-color: #BDBDBD;
    --accent-color: #FF4081;
  }
  body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: var(--secondary-text-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }
  
  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
  .table-heading {
    background-color: var(--primary-color);
    color: var(--text-icon-color);
  }
  hr.hr-style {
    margin-top: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 64, 129), rgba(0, 0, 0, 0));
  }
  hr.hr-style-two {
      margin-top: 0;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid var(--divider-color);
  }
  .cover-page {
    width: 100vw;
    height: 100vh;
    background-color: #3e456b;
    opacity: 0.8;
  }
  
  .hero {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-family: 'Reenie Beanie', cursive;
  }
  .hero-title {
    font-size: 60px;
    color: var(--text-icon-color);
  }
  .hero-text {
    color: var(--text-icon-color);
   
  }
  
  .chevron {
    margin-top: 20px;
    font-size: 32px;
    color: var(--accent-color);
  }
  
  
 
  